#left-button {
  position: relative;
  left: -105%;
  top: -50%;
}
#right-button {
  position: relative;
  top: -50%;
  left: -5%;
}
#slideshow-bob img.lazy-load {
  display: none;
}
#slideshow-bob img {
  width: 15em;
  height: 15em;
}
#slideshow-bob {
  width: 60em;
  height: 15em;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: overlay;
}
.wrapper {
  width: 60em;
}
