.slideshow-bob img {
  width: 15em;
  height: 15em;
}
.slideshow-bob {
  width: 60em;
  height: 15em;
  white-space: nowrap;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
.wrapper {
  width: 60em;
  overflow: hidden;
}
